.full-screen {
    min-height: 350px;
}

.row {
    margin:0;
}

header .row:first-child{
    height    : 90px;
    background: rgba(256, 256, 256, 0.9);
}

.row-for-header {
    height    : 90px;
}

header #wrap2 {
    height: 100%;
}

#logo {
    text-transform: uppercase;
    font-size     : 40px;
    font-weight   : bold;
    font          : monospace;
    color         : #626262;
    user-select: none;
}

#logo span {
    color: #06b5a9;
}


.tabs {
    width:100%;
    padding: 75px 0 100px 0;
    margin: 0;
}

footer {
    background: #1b2330;
    margin-top: 20px;
}

footer p {
    font-size     : 14px;
    font-weight   : normal;
    text-transform: none;
    color         : #767b83;
}

footer #social i {
    color    : #fff;
    font-size: 36px;
    margin   : 0 15px;
}

.hidden-lg-up {
    display: none;
}

.header-main-comment{
    font-weight: bold;
    padding: 10px 0 10px 0;
    text-transform: uppercase;
}

.header-comment {
    text-align: center;
    color: #504f4f;
    font-size: 19px;
}

.header-comment span{
    color: #06b5a9;
    font-weight: bold;
}

.header-comment .gray{
    color: #504f4f;
    font-weight: bold;
}

.header-comment:hover{
    cursor: default;
}

.header-comment::selection, .header-comment span::selection {
   background: transparent;
}
.header-comment::-moz-selection, .header-comment span::-moz-selection {
   background: transparent;
}

.list {
    padding-top: 20px;
    min-height: 600px;
}

.list-create {
    height: 100px;
}

.project-create-name {
    margin: 0 10px;
}

.list-frame {
    min-width:100%;
    border: 0px solid rgba(71, 179, 179, 0.884);
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    box-shadow: 1px 0px 15px 0px gray;
    margin-bottom: 30px;
}


.list-frame-header {
    height: 50px;
    background-color: rgba(3, 143, 143, 0.89);
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom: 1px solid gray;
}

.list-frame-header-desc {
    color: rgba(255, 255, 255, 0.945);
    font-weight: bold;
    font-size: 20px;
    padding:0;
}

.list-frame-header-edit {
    padding:0;
    padding-right:10px;
}


.list-frame-header-edit i {
    color: #ecf7f5f1;
    font-size: 22px;
    transition: 0.3s;
    padding-right: 10px;
}

.list-frame-header-status {
    padding:0;
    padding-left:10px;
}

.list-frame-header-status i {
    color: #ecf7f5f1;
    font-size: 20px;
}

.list-frame-header-status span {
    color: #ecf7f5f1;
    font-size: 15px;
}

.list-frame-header-edit i:hover {
    text-shadow: 3px 7px 20px white;
    transition: 0.3s;
    cursor: pointer;
    color: white;
}

.list-frame-create {
    height: 60px;
    background-color: rgba(139, 224, 224, 0.89);
    font-size: 16px;
    color: rgba(255, 255, 255, 0.945);
    border-bottom: 1px solid gray;
}

.list-frame-persons-person {
    height: 60px;
    
}

.project-frame-tasks-task:hover {
    background-color: rgba(194, 228, 228, 0.89);
}

.list-frame-persons-person > div {
    padding:0;
}

.input-group .fa-plus {
    color: rgba(3, 143, 143, 0.89);
    font-size: 20px;
}

.list-frame-persons-person-first-name,  .list-frame-persons-person-last-name, .list-frame-persons-person-email {
    font-size: 16px;
    color:rgba(75, 73, 73, 0.781);
    word-wrap: break-word;
    border-right: 1px solid rgba(189, 188, 188, 0.685);
}

.list-frame-persons-person-edit {
    font-size: 18px;
    height: 100%;
}

.list-frame-persons-person-edit i {
    margin: 5px;
    color: gray;
}

.list-frame-persons-person-edit i:hover {
    text-shadow: 3px 7px 20px rgba(2, 87, 87, 0.89);
    transition: 0.3s;
    cursor: pointer;
}

.form-check-label {
    margin-bottom: 40px;
}

.form-group {
    padding: 0 5px 0 5px;
}

#name-help, #email-help, #password-help {
    display: none;
}

#search-help {
    display: none;
}

.person-example {
    display: none!important;
}


.list-frame-header-edit-unsaved {
    position: absolute;
    bottom:35px;
    color: gray;
    font-size: 12px;
    width: 200px;
}



.start-comment {
    font-size: 20px;
    color: #504f4f;
    margin-top: 40px;
    font-weight: bold;
    user-select: none;
}


@media (max-width: 990px)  {
    
    header .row:first-child{
    height    : 60px;
    }
    
    header .row {
        height: 60px;
    }

    .row-for-header {
        height: 60px;
    }

    #logo {
        font-size: 30px;
    }

    .list-frame-header-desc {
        font-size: 17px;
    }

    .list-frame-persons-person-first-name,  .list-frame-persons-person-last-name, .list-frame-persons-person-email {
        font-size: 15px;
    }
    
    .start-comment {
    font-size: 17px;
    }

}

@media (max-width: 767px)
{
    .header-comment {
    font-size: 16px;
    }
    
    .hidden-lg-up {
        display: inline;
    }

    .tabs {
        padding: 50px 0 100px 0;
    }

    .list-frame-header-desc {
        font-size: 16px;
    }

    .list-frame-persons-person-first-name,  .list-frame-persons-person-last-name, .list-frame-persons-person-email {
        font-size: 14px;
    }
}

@media (max-width: 700px) {
    
    #logo {
        justify-content: end;
    }

    .list-frame-header-desc {
        font-size: 14px;
    }

    .input-group .form-control, .input-group .btn {
        font-size: 14px;
    }

    .project-create-name, .project-create-apply {
        font-size: 16px;
    }

    .list-frame-persons-person-edit {
        font-size: 15px;
    }
}

@font-face {
    font-family: ImpactRegular;
    src        : url("fonts/Impact.ttf")
}