<footer>
    <div class="">
        <div class="row">
            <div class="col-1"></div>
            <div id="logo" class="col-5">
                <div>
                    E.<span>y.e</span>
                </div>
                <p>Copiright &copy2019 All rights reserved. Author: Anton Lemeshchenko</p>
            </div>
            <div id="social" class="col-5 d-flex justify-content-end align-items-center">
                <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                <a href="#"><i class="fa fa-rss" aria-hidden="true"></i></a>
            </div>
            <div class="col-1"></div>
        </div>
    </div>
</footer>
</body>
</html>