<div class="full-screen correction-for-project row">
    <div class="list col-12 row">
        <div class="list-create col-12 d-flex justify-content-center align-items-center row">
            <p class="start-comment">Hello! Enter the person’s data here to be sure that he is safe!</p>
        </div>
        <div class="col-1"></div>
        <div class="col-10 list-container">
            <div class="list-frame">
                <div class="list-frame-header row">
                    <div
                        class="list-frame-header-status col-sm-3 col-md-2 d-flex justify-content-start align-items-center">
                    </div>
                    <div
                        class="list-frame-header-desc col-sm-7 col-md-8 d-flex justify-content-center align-items-center">
                        <span class="list-frame-header-desc-name">Confidential information sheet</span>
                    </div>
                    <div class="list-frame-header-edit col-2 d-flex justify-content-end align-items-center">
                    </div>
                </div>
                <div class="list-frame-create row d-flex justify-content-center align-items-center">
                    <form class="row col-11">
                        <div class="input-group row">
                            <div class="input-group-prepend">
                                <span class="input-group-text">
                                    <i class="fa fa-plus" aria-hidden="true"></i>
                                </span>
                            </div>
                            <input required type="text" pattern="^[\S]{1}[\S\s]{0,30}$"
                                class="form-control list-frame-create-first-name" placeholder="First name...">
                            <input required type="text" pattern="^[\S]{1}[\S\s]{0,30}$"
                                class="form-control list-frame-create-last-name" placeholder="Last name...">
                            <input required type="text" pattern="^([A-Za-z0-9_\-\.])+@([A-Za-z0-9_\-\.])+\.([A-Za-z]{2,4})$"
                                class="form-control list-frame-create-email" placeholder="Email...">
                            <div class="input-group-append">
                                <input value="Add" type="button" class="btn btn-info list-frame-create-apply">
                            </div>
                        </div>
                    </form>
                </div>
                <div class="list-frame-persons">
                    <?php 
                    if( $rows)
                    {
                        foreach($rows as $row)
                        {
                    ?>
                    <div id="<?=$row['id']?>" class="row list-frame-persons-person d-flex justify-content-center align-items-center">
                        <div
                            class="list-frame-persons-person-first-name col-sm-3 col-xl-4 h-100 d-flex justify-content-center align-items-center">
                            <?=$row['first_name']?>
                        </div>
                        <div
                            class="list-frame-persons-person-last-name col-sm-3 col-xl-4 h-100 d-flex justify-content-center align-items-center">
                            <?=$row['last_name']?>
                        </div>
                        <div
                            class="list-frame-persons-person-email col-sm-4 col-xl-3 h-100 d-flex justify-content-center align-items-center">
                            <?=$row['email']?>
                        </div>
                        <div
                            class="d-none list-frame-persons-person-first-name-change col-sm-3 col-xl-4 justify-content-center align-items-center">
                            <input required pattern="^[\S]{1}[\S\s]{0,30}$" class="form-control" type="text">
                        </div>
                        <div
                            class="d-none list-frame-persons-person-last-name-change col-sm-3 col-xl-4 justify-content-center align-items-center">
                            <input required pattern="^[\S]{1}[\S\s]{0,30}$" class="form-control" type="text">
                        </div>
                        <div
                            class="d-none list-frame-persons-person-email-change col-sm-4 col-xl-3 justify-content-center align-items-center">
                            <input required pattern="^([A-Za-z0-9_\-\.])+@([A-Za-z0-9_\-\.])+\.([A-Za-z]{2,4})$" class="form-control" type="text">
                        </div>
                        <div
                            class="list-frame-persons-person-edit col-sm-2 col-xl-1 d-flex justify-content-around align-items-center">
                            <i class="fa fa-pencil-square-o" title="Change person" aria-hidden="true"></i>
                            <i class="d-none fa fa-floppy-o" title="Save changes" aria-hidden="true"></i>
                            <i class="fa fa-times" title="Delete person" aria-hidden="true"></i>
                            <i class="d-none fa fa-ban" title="Cancel changes" aria-hidden="true"></i>
                        </div>
                    </div>
                    <?php }
                    }
                    else
                    {
                        echo "<p><i>Sorry, something went wrong... We are already working on fixing the problem.</i></p>";
                    }
                    ?>
                </div>
            </div>
        </div>
        <div class="col-1"></div>
    </div>

</div>

<div class="person-example row list-frame-persons-person d-flex justify-content-center align-items-center">
    <div
        class="list-frame-persons-person-first-name col-sm-3 col-xl-4 h-100 d-flex justify-content-center align-items-center">
        A
    </div>
    <div
        class="list-frame-persons-person-last-name col-sm-3 col-xl-4 h-100 d-flex justify-content-center align-items-center">
        B
    </div>
    <div
        class="list-frame-persons-person-email col-sm-4 col-xl-3 h-100 d-flex justify-content-center align-items-center">
        C
    </div>
    <div
        class="d-none list-frame-persons-person-first-name-change col-sm-3 col-xl-4 justify-content-center align-items-center">
        <input required pattern="^[\S]{1}[\S\s]{0,30}$" class="form-control" type="text">
    </div>
    <div
        class="d-none list-frame-persons-person-last-name-change col-sm-3 col-xl-4 justify-content-center align-items-center">
        <input required pattern="^[\S]{1}[\S\s]{0,30}$" class="form-control" type="text">
    </div>
    <div
        class="d-none list-frame-persons-person-email-change col-sm-4 col-xl-3 justify-content-center align-items-center">
        <input required pattern="^([A-Za-z0-9_\-\.])+@([A-Za-z0-9_\-\.])+\.([A-Za-z]{2,4})$" class="form-control" type="text">
    </div>
    <div class="list-frame-persons-person-edit col-sm-2 col-xl-1 d-flex justify-content-around align-items-center">
        <i class="fa fa-pencil-square-o" title="Change person" aria-hidden="true"></i>
        <i class="d-none fa fa-floppy-o" title="Save changes" aria-hidden="true"></i>
        <i class="fa fa-times" title="Delete person" aria-hidden="true"></i>
        <i class="d-none fa fa-ban" title="Cancel changes" aria-hidden="true"></i>
    </div>
</div>